.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

footer {
    position: absolute; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 15px auto;
}

.jumbotron {
        margin-top: 80px;
}